* {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
} 

h1 {
  text-align: center;
  position: relative;
  z-index: 1;
}

#text-div {
  display: inline-block;
}

#btn-base, .decoy-base {
  background: #a30036;
  border-radius: 100%;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  margin: 4px;
  position: relative;
  box-shadow: 3px 3px 8px grey;
}

#btn-face, .decoy-face {
  display: block;
  padding: 50px;
  border-radius: 100%;
  background: #f0003c;
  transform: translateY(-6px);
}

#btn-base:active #btn-face,
.decoy-base:active .decoy-face {
  transform: translateY(-2px);
}

#btn-div {
  display: flex;
  flex-wrap: wrap;
  margin: 10% auto 0%;
  max-width: 930px;
  position: relative;
  justify-content: center;
  align-items: center;
} 

.colour {
  position: relative;
  display: inline-block;
  width: auto;
  margin: auto;
}

.colour-choice {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
}

.colour-choice a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.colour-choice a:hover {
  background-color: #ddd;
}

.colour:hover .colour-choice {
  display: block;
}

#eyes {
  width: 100px;
  height: 100px;
}

.animate-div > * {
  animation: roll 10s linear infinite;
}

@keyframes roll {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(40vw);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-40vw);
  }
  100% {
    transform: translateX(0);
  }
}

img {
  position: absolute;
  z-index: -1;
}